<div class="header">
  <ul class="nav nav-pills pull-right">
  <li><a ng-href="#">Neuer Stoff</a></li>
  <li class="active"><a ng-href="#/list">Stoff Liste</a></li>
  </ul>
  <h3 class="text-muted">Stoff Liste</h3>
</div>

<accordion close-others="isopen">
  <accordion-group ng-controller="ListCtrl" ng-repeat="cloth in cloths" heading="{{ cloth.id }}" is-open="isopen" is-disabled="!isopen" ng-click="isopen=!isopen">
    <div ng-controller="ShowCtrl" id="{{ cloth.id }}">
      <accordion-heading is-open="false">
        <a href="/show/{{ cloth.id }}">{{ cloth.id }}</a>
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-down': isopen,
                      'glyphicon-chevron-right': !isopen}"></i>
                <img class="pull-right" ng-src="http://192.168.0.11:5984/stofflistendb/{{ acloth._id }}/image" width="100px" height="20px" ng-show="true" />
      </accordion-heading>
      <span class="pull-right glyphicon glyphicon-remove" style="cursor:pointer" ng-click="deleteCloth()"></span>
      <span>
        <ul>
          <li> <strong> Name </strong> {{ acloth._id }} </li>
          <li> <strong> Metrage </strong> {{ acloth.length }}x{{ acloth.width}} [m*m]</li>
          <li> <strong> Ingredients </strong> {{ acloth.ingredients }} </li>
          <li> <strong> Color </strong> {{ acloth.color }} </li>
        </ul>
        <img class="pull-right" ng-src="http://192.168.0.11:5984/stofflistendb/{{ acloth._id }}/image" />
      </span>
    </div>
  </accordion-group>
</accordion>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from frosch03</p>
</div>
