<div class="header">
  <ul class="nav nav-pills pull-right">
  <li><a ng-href="#">Neuer Stoff</a></li>
  <li class="active"><a ng-href="#/list">Stoff Liste</a></li>
  </ul>
  <h3 class="text-muted">Stoff Liste</h3>
</div>

<accordion close-others="isopen">
  <accordion-group ng-repeat="cloth in cloths" heading="{{ cloth._id }}" is-open="isopen" is-disabled="!isopen" ng-click="isopen=!isopen">
    <div id="{{ cloth._id }}">
      <accordion-heading is-open="false">
        <a ng-href="#/show/{{ cloth._id }}" ng-click="">{{ cloth._id }}</a>
        <i class="pull-right glyphicon"
           ng-class="{'glyphicon-chevron-down': isopen,
                      'glyphicon-chevron-right': !isopen}"></i>
                <img class="pull-right" ng-src="http://192.168.0.11:5984/stoffliste/{{ cloth._id }}/image" width="100px" height="20px" ng-show="true" />
      </accordion-heading>
      <button class="btn btn-default pull-right glyphicon glyphicon-remove" style="cursor:pointer" ng-click="remove(cloth._id)"></button>
      <button class="btn btn-default pull-right glyphicon glyphicon-edit" style="cursor:pointer" ng-href="/show/cloth._id" ng-click=""></button>
      <span>
        <ul>
          <li> <strong> Name </strong> {{ cloth._id }} </li>
          <li> <strong> Metrage </strong> {{ cloth.length }}x{{ cloth.width}} [m*m]</li>
          <li> <strong> Ingredients </strong> {{ cloth.ingredients }} </li>
          <li> <strong> Color </strong> {{ cloth.color }} </li>
        </ul>
        <img class="pull-right" ng-src="http://192.168.0.11:5984/stoffliste/{{ cloth._id }}/image" />
      </span>
    </div>
  </accordion-group>
</accordion>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from frosch03</p>
</div>
