<div class="header">
  <!-- <ul class="nav nav-pills pull-right" ng-controller="MainCtrl"> -->
  <!--   <li>Neuer Stoff</li> -->
  <!--   <li class="active"><a ng-click="submit(cloth)">Add</a></li> -->
  <!-- </ul> -->
  <h3 class="text-muted">Stoff Liste</h3>
</div>


<accordion close-others="true">
  <accordion-group heading="Neuer Stoff" is-open="$scope.newSopen" >
      <accordion-heading ng-click="toggleSOpen()">
        Neuer Stoff
        <i class="pull-right fa"
           ng-class="{'fa-indent': $scope.newSopen,
                      'fa-outdent': !$scope.newSopen}"></i>
      </accordion-heading>
      <div ng-controller="AddCtrl">
        <div style="background: #FFF">
          <i class="btn btn-default fa fa-plus fa-2x" ng-click="submit(cloth)"></i>
          <form name="in" role="form" class="form-inline">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fabric_id">Stoffnummer:</label>
                    <input type="text" name="width"  value=" {{ cloth.type }}{{ nextId }}" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="cloth.type" ng-change="getNextId()" name="typeRadio1" value="OS">
                        Oberstoff
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="cloth.type" ng-change="getNextId()" name="typeRadio2" value="Z">
                        Zutaten
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" ng-model="cloth.type" ng-change="getNextId()" name="typeRadio3" value="F">
                        Futter
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group form-inline">
              <label for="fabric_metrages">Metrage:</label>
              <table class="table table-striped">
                <th><label for="fabric_width">Nutzbreite:</label></th>
                <th><label for="fabric_length">Länge:</label></th>
                <th></th>
                <tr ng-repeat="metrage in cloth.metrage | filter : search"  ng-class="{'muted':isTemp($index)}">
                  <td>{{metrage.width}} m</td>
                  <td>{{metrage.length}} m</td>
                  <td>
                  <i class="fa"
                          ng-class="{'fa-2x fa-trash-o': !isTemp($index)}"
                          ng-click="delMetrage(metrage)"></i>
                  </td>
                </tr>
                <tr ng-class="{'input-append':addMetrage};">
                  <td>
                    <div class="input-group">
                      <input type="text" name="width"  ng-model="additionalMetrage.width" class="form-control">
                      <div class="input-group-addon">m</div>
                  </div></td>
                  <td>
                    <div class="input-group">
                      <input type="text" name="length"  ng-model="additionalMetrage.length" class="form-control" ng-change="addTemp()">
                      <div class="input-group-addon">m</div>
                  </td>
                  <td>
                      <i class="btn btn-danger fa fa-plus" ng-click="addMetrage(metrage)" ng-show="additionalMetrage.length"></i>
                    <!-- <input type="submit" class="btn btn-mini btn-primary" ng-click="addMetrage()" ng-show="additionalMetrage.length" value="+ add"/> -->
                  </td>
                </tr>
              </table>    
            </div>
            <div class="form-group">
              <label for="fabric_color">Farbe:</label>
              <input type="text" name="color" ng-model="cloth.color" class="form-control">
              <label for="fabric_ingredients">Materialzusammensetzung:</label>
              <input type="text" name="ingredients" ng-model="cloth.ingredients" class="form-control">
              <label for="fabric_dessin">Dessin:</label>
              <input type="text" name="dessin" ng-model="cloth.dessin" class="form-control">
            </div>
          </form>
        </div>
      </div>
  </accordion-group>
</accordion>




<accordion close-others="true">
  <accordion-group ng-repeat="cloth in cloths track by $index" heading="{{ cloth.id }}" is-open="$scope.isopen">
    <accordion-heading ng-click="toggleOpen()">
      {{ cloth.type }}{{ cloth.id }} : {{ cloth.color }}, {{ cloth.ingredients }}
      <i class="pull-right fa"  ng-click="toggleOpen()"
         ng-class="{'fa-indent': $scope.isopen,
                   'fa-outdent': !$scope.isopen}"></i>
    </accordion-heading>
    <section  ng-controller="MainCtrl">
      <button class="btn btn-default pull-right fa fa-trash-o fa-2x" ng-show="!edit" ng-click="remove(cloth)"></button>
      <button class="btn btn-default pull-right fa fa-cloud-upload fa-2x" ng-click="update(cloth)"></button>
      <button class="btn pull-right fa fa-edit fa-2x" ng-click="toggleEdit()" 
         ng-class="{'btn-default': edit, 
                   'btn-danger': !edit}"></button>
      <form name="metaForm" role="form" class="form-horizontal">
        <div class="form-group">
          <label for"fabric_id">Stoffnummer:</label>
          <input type="text" name="id" ng-disabled="true" value="{{ cloth.type }}{{cloth.id}}" class="form-control">
        </div>
        <div class="form-group">
          <label for="fabric_metrages">Metrage:</label>
          <table class="table table-striped">
            <th><label for="fabric_width">Nutzbreite:</label></th>
            <th><label for="fabric_length">Länge:</label></th>
            <th></th>
            <tr ng-repeat="metrage in cloth.metrage"  ng-class="{'muted':isTemp($index)}">
              <td>
                  {{metrage.width}} m
              </td>
              <td>{{metrage.length}} m</td>
              <td>
                  <i class="fa"
                          ng-class="{'': edit,
                                    'fa-2x fa-trash-o': !edit && !isTemp($index)}"
                          ng-click="delMetrage(metrage)"></i>
              </td>
            </tr>
            <tr ng-class="{'input-append':addMetrage};">
              <td>
                <div class="input-group" ng-hide="edit">
                  <input type="text" name="width"  ng-readonly="edit" ng-model="additionalMetrage.width" class="form-control">
                  <div class="input-group-addon">m</div>
                </div>
              </td>

              <td>
                <div class="input-group" ng-hide="edit">
                  <input type="text" name="length"  ng-readonly="edit" ng-model="additionalMetrage.length" class="form-control" ng-change="addTemp()">
                  <div class="input-group-addon">m</div>
                </div>
              </td>
              <td>
                  <i class="btn btn-danger fa fa-plus" ng-click="addMetrage(metrage)" ng-show="additionalMetrage.length"></i>
              </td>
            </tr>
          </table>    
        </div>
        <div class="form-group">
          <label for"fabric_color">Farbe:</label>
          <input type="text" name="color" ng-readonly="edit" ng-model="cloth.color" placeholder="{{ cloth.color }}" class="form-control">
          <label for="fabric_ingredients">Materialzusammensetzung:</label>
          <input type="text" name="ingredients" ng-readonly="edit" ng-model="cloth.ingredients" placeholder="{{ cloth.ingredients }}" class="form-control">
          <label for="fabric_dessin">Dessin:</label>
          <input type="text" name="dessin" ng-readonly="edit" ng-model="cloth.dessin" placeholder="{{ cloth.dessin }}" class="form-control">
        </div>
      </form>
    </section>
  </accordion-group>
</accordion>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from frosch03</p>
</div>
