<div class="header">
  <ul class="nav nav-pills pull-right">
  <li><a ng-href="#">Neuer Stoff</a></li>
  <li><a ng-href="#/list">Stoff Liste</a></li>
  </ul>
  <h3 class="text-muted">Stoff Liste - Stoff #{{ cloth._id }}</h3>
</div>

<section class="card">
<form name="metaForm" role="form" class="form-horizontal">
  <h1>Stoff</h1>
  <input type="text" name="id" ng-model="cloth._id" class="form-control" disabled="enabled">
  <h1>Metrage:</h1>
    <input type="text" name="width" ng-model="cloth.width" class="form-control" disabled="islocked"> 
    <input type="text" name="length" ng-model="cloth.length" class="form-control" disabled="islocked">
  <h1>Metainfos:</h1>
  <input type="text" name="color" ng-model="cloth.color" class="form-control" disabled="islocked">
  <input type="text" name="ingredients" ng-model="cloth.ingredients" class="form-control" disabled="islocked">

<!-- <button type="submit" class="btn btn-default"> -->
<!--   <span class="glyphicon glyphicon-heart" ng-click="islocked=!islocked"> -->
<!--     Enable{{ islocked }}</span><\!-- </button> -\-> -->
<!-- </form> -->
</section>


<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from frosch03</p>
</div>
